.form {
  display: flex;
  flex-direction: column;
}

.details {
  margin-top: 15px;
  border-radius: 10px;
  padding: 10px;
  border-style: solid;
  border-width: thin;
  box-shadow: 5px 10px #888888;
}

.displayTodos{
  margin-top: 5px;
  border-radius: 10px;
  padding: 10px;
  border-style: solid;
  border-width: thin;
  box-shadow: 5px 2px #888888;
  width: 120%;
  height: 100%
}

.editTodoCard {
  border-style: solid;
  border-width: thin;
  box-shadow: 5px 2px #888888;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px
}
